// @import "inuit.css/defaults";
// @import "inuit.css/inuit";

.block {
  color:green;

  &__element {
    color:red;

    &--modifier {
      color:blue;
    }
  }
}

// .autoprefixes {
//   flex-direction: row;
// }

.container {
  width: 400px;
  margin: 0 auto 400px;
  font-size: 20px;
}

.brand {
  color:red;
  text-transform: uppercase;
}
